* {
    cursor: url("https://shadowthehedgehog.ca/assets/neutral_cursor.png"), auto;
 }

body{ 
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: rgb(255, 255, 255);
    justify-content: center; 
    margin:0 auto; 
}

.dragonheader {
    flex:1;
    width: 100%;  
    text-align: center;
    margin: 0 auto; 
}
.navbar {
    display:flex;
    flex-direction: row;
}

.navbuttonbackground {
    border: 2px solid black;
    border-radius: 10px; 
    background-color: black;
    flex:1;
    text-align: center; 
}

.navbuttonbackground:hover {
    background-color:rgb(161, 161, 161);
    cursor: url("https://shadowthehedgehog.ca/assets/magglasscursor.png")12 12, auto;
}

.navbutton {
    color: rgb(255, 255, 255);
    text-decoration: none; 
    
}
.navbutton:hover {
    color: rgb(0, 0, 0);
    cursor: url("https://shadowthehedgehog.ca/assets/magglasscursor.png")12 12, auto;
    text-decoration: none;  
}

.title {
    width: 300px;
    flex:1;
    width: 100%;  
    text-align: left;
    margin: 0 auto; 
    margin-top: 7px;
}

.title-text {
    position: relative;
    left: 20px;
  }

.content-container {
    display: grid;
    grid-template-columns: [col1] auto [col2] auto ;
    row-gap: 0px;
    column-gap: 0px;
}



a :hover {
    cursor: url("https://shadowthehedgehog.ca/assets/magglasscursor.png") 12 12, auto;
}



.subheading {
    font-family: Arial, sans-serif;  
    font-size: 24px;                 
    color: #333;                     
    font-weight: bold; 
    margin-top: 0px;
}




.contentTable {
    border-radius: 0px;
    width : 700px; 
    margin: 0px auto;
}



.navbutton {
    color: rgb(255, 255, 255);
    text-decoration: none;  
}
.navbutton:hover {
    color: rgb(0, 0, 0);
    cursor: url("https://shadowthehedgehog.ca/assets/magglasscursor.png") 12 12, auto;
    text-decoration: none;  
}
.navbuttoninactive:hover {
    color: rgb(0, 0, 0);
}




/* makes links not purple */

.plainlink:link, .plainlink:visited, .plainlink:focus, .plainlink:active {
    color: black;
    text-decoration: none;
}
.plainlink:hover{
    color: black;
    text-decoration: underline;
    cursor: url("https://shadowthehedgehog.ca/assets/magglasscursor.png") 12 12, auto;
}




/* 3d model box stuff */
.canvascontainer {
    background-image: url('https://shadowthehedgehog.ca/assets/fav_bkgnd.png');
    background-repeat: repeat; 
    font-family: "Lucida Console", Monaco, monospace;
    width: 650px;
    height: 650px;
    margin: 0 auto;
    background-attachment: fixed;
    background-size: 500px;
    aspect-ratio: 1 / 1;
  }



.modelselect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5px;
    height: 30px;
    margin-bottom: 30px;
    

}
.model {
    flex: 1;
    background-color: black;
    background-image: url('https://shadowthehedgehog.ca/assets/fav_bkgnd.png'); 
    background-repeat: repeat; 
    background-size: 300px 300px;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 0.2em;
    color: white;
    border-radius: 2px;
    border-color:black;
}

.model:hover{
    color:black;
    background-image: url('https://shadowthehedgehog.ca/assets/inverted_bkgd.png'); 

}