body{ 
    width: 700;
    background-color: rgb(255, 255, 255);

    margin:0 auto; 
    cursor: url("assets/neutral_cursor.png"), auto;
    
}

.subheading {
    font-family: Arial, sans-serif;  
    font-size: 24px;                 
    color: #333;                     
    font-weight: bold; 
    margin-top: 0px;
}


td {
    padding: 0; /* Removes space inside table cells */
    margin: 0;  /* Reduces any default margin */
}

.dragon_header {
    width: 100%;  
    text-align: center;
    margin: 0 auto; 
}


.dragon_header {
    text-align: center;
    margin: 0 auto;
}

.dragon-header img {
    display: inline-block;
    margin: 0 auto;
    width: 300px;  /* Set a width for the image */
    height: auto;  /* Keep the aspect ratio intact */
}

.buttoninactive {
    border: 2px solid black;
    border-radius: 10px 
    
}

.buttonbackground {
    background-color: black;
}

.buttonbackground:hover {
    background-color:rgb(161, 161, 161);
    cursor: url("assets/evil_cursor.png"), auto;
}
.navbarTable { 
    margin: auto;
    width : 700px; 
    border : none;
}

.contentTable {
    border-radius: 0px;
    width : 700px; 
    margin: 0px auto;
}

.button {
    border: none;
    color: rgb(178, 72, 72);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    
  }

.navbutton {
    color: rgb(255, 255, 255);
    text-decoration: none;  
}
.navbutton:hover {
    color: rgb(0, 0, 0);
    cursor: url("assets/evil_cursor.png"), auto;
    text-decoration: none;  
}
.navbuttoninactive:hover {
    color: rgb(0, 0, 0);
}



/* stuff about embedded links*/
.linkinsta:hover span {
    display: none;
    cursor: url("assets/evil_cursor.png"), auto;
}
.linkinsta:link {
    color:#333;         
    text-decoration: none;   
}
.linkinsta:active {
    color: #333;         
    text-decoration: none; 
}
.linkinsta:hover:before {
    content: "@pottery.gator";
    text-decoration: underline;
    cursor: url("assets/evil_cursor.png"), auto;
}
.linkinsta:visited {
    color: #333;           /* Set the color when the link is clicked */
    text-decoration: none; /* Keep underline while active */
}
.linkemail:hover span {
    display: none;
    cursor: url("assets/evil_cursor.png"), auto;
}
.linkemail:link {
        color:#333;          
        text-decoration: none;   
}
  
.linkemail:hover:before {
    content: "pottery.gator@gmail.com";
    text-decoration: underline;
    cursor: url("assets/evil_cursor.png"), auto;
}
.embedlink:link {
    color:#333;           
    text-decoration: none;    
}

.embedlink:hover {
    color: #333;           
    text-decoration: underline; 
    font-weight: bold;
    cursor: url("assets/evil_cursor.png"), auto; 
}

.embedlink:active {
    color: #333;           /* Set the color when the link is clicked */
    text-decoration: none; /* Keep underline while active */
}

.embedlink:visited {
    color: #333;           /* Set the color when the link is clicked */
    text-decoration: none; /* Keep underline while active */
}

/* hire me section*/
.hiremeTable { 
    margin: auto;
    border : none;
}

.buttonhireme {
    border-radius: 1px;
    font-size: 24px; 
    padding: 10px ;
    width: 15%;
    text-decoration: none; 
    color: #333;
}

.buttonbackgroundhireme {
    border-color: rgb(0, 0, 0);
    border: 2px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}
.buttonbackgroundhireme:hover {
    cursor: url("assets/evil_cursor.png"), auto;
    background-color:rgb(197, 197, 197);
}
.buttonhireme:hover {
    color: rgb(222, 55, 55);
    cursor: url("assets/evil_cursor.png"), auto;
}
.buttoninactive:link {
    color: rgb(0, 0, 0);
}
.buttoninactive:active {
    color: rgb(0, 0, 0);
}

/* pottery gallery section*/
.galleryTable {
    border-radius: 0px;
    width : 700px; 
    margin: 10px auto;
    padding: 5px;
}
.potterygallery{
    margin: 10ox;
    border: 5px;
    float: center;
    width: auto;
}
.potterygallery img {
    width: 200px;
    height: auto;
   
  }
.desc {
    padding: 5px;
    text-align: center;
}

.plainlink:link, .plainlink:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.plainlink:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: url("assets/evil_cursor.png"), auto;
}